/*                       ---- 1st -----                                    */
/* GENERAL STYLES FOR ALL PAGES */
/* fonts used */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Oswald', sans-serif; */

/* HTML ELEMENTS */
body {
  text-align: center;
  background-color: #FFE6E6;
  color: #2A0944;
  font-family: 'Oswald', sans-serif;
}

h1, h2 {
  font-weight: bold;
  font-size: 3.5rem;
  padding: 2%;
}

a {
  color: #2A0944;
}

a:hover {
  color: #ECDBBA;
  text-decoration: none;
}

/* Containers */
.container-xs {
  text-align: center;
  font-weight: bold;
  padding: 0 7% 1%;
}

/* Buttons */
.home-btn {
  margin: 38px 20px 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

/*                       ----- 2nd ----                                    */
/* HOMEPAGE(INDEX.HTML) */
/* welcome image */
.welcome-img {
  width: 80%;
  height: 50%;
}

/*                       ----- 3rd -----                                    */
/* quiz_page */
/*                         ------CLASSES------                                     */

/* CONTAINERS */
.wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
}

.flex-con {
  color: #EAEAEA;
  font-weight: bold;
  font-size: 3rem;
  margin: 30px 100px;
  display: flex;
  width: 70%;
  background-color: #6155A6;
  border: 3px solid black;
  padding: 10px;
  box-shadow: 5px 10px black;
}

.flex-con:hover {
  cursor: pointer;
  transform: scale(1, 1.2);
  background-color: #FFABE1;
  color: #000;
}

/*                         ------ID------                                     */
#question {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: 20px;
  background-color: #FFABE1;
  border: 3px solid black;
  padding: 25px;
  box-shadow: 5px 10px black;
}

#back {
  visibility: hidden;
}
